---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/global/Navigation.astro";

import Hero from "../components/landing/Hero.astro";
import SectionOne from "../components/landing/SectionOne.astro";
import SectionTwo from "../components/landing/SectionTwo.astro";
import Testimonial from "../components/global/Testimonial.astro";
import Pricing from "../components/landing/Pricing.astro";
import Cta from "../components/global/Cta.astro";
import Footer from "../components/global/Footer.astro";
import Faq from "../components/infopages/Faq.astro";
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
	title="easypeasy"
	description="A completely free and open source method for quitting pornography easily and without willpower"
	canonical="https://easypeasymethod.org"
	openGraph={{
		url: "https://easypeasymethod.org",
		title: "easypeasy",
		description: "Painlessly quit pornography without any sense of deprivation or sacrifice.",
		images: [
			{
				url: "https://easypeasymethod.org/opengraph/easypeasy-graph.jpg",
				width: 1200,
				height: 630,
				alt: "easypeasy's social graph, the words 'painlessly, immediately and permanently' are written next to the book cover",
				type: "image/jpeg",
			},
			{
				url: "https://easypeasymethod.org/opengraph/easypeasy-twitter.png",
				width: 4096,
				height: 4096,
				alt: "easypeasy's social graph, the words 'painlessly, immediately and permanently' are written next to the book cover",
				type: "image/png",
			},
			{ url: "https://easpyeasymethod.org/opengraph/easypeasy-graph.jpg" },
			{ url: "https://www.michaelandreuzza.com/opengraph/easypeasy-twitter.jpg" },
		],
		site_name: "easypeasy",
	}}
	twitter={{
		handle: "@deletebirdpls",
		site: "@site",
		cardType: "summary_large_image",
	}}
/>
<BaseLayout>
	<link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
	<Hero />
	<SectionOne />
	<Cta />
	<Footer />
</BaseLayout>


<!----<script>
	import Toastify from "toastify-js";

	const toast = Toastify({
		text: "you're not being tracked. no cookies, zero personal information - like it should bea> too. peace!",
		gravity: "bottom",
		close: true,
		position: "center",
		duration: 0,
		style: {
			background: "black",
		},
		onClick: function () {
			toast.hideToast();
		},
	}).showToast();
</script> ---->