---
interface Props {
	type: boolean;
	description: string;
}

const { type, description } = Astro.props;
---

<section
	class="relative mx-auto w-full lg:px-16 max-w-4xl md:px-12 items-center px-2 mt-10"
>
	<div class="rounded-3xl overflow-hidden mx-auto">
		<div class="relative px-4 py-2 mx-auto max-w-7xl sm:px-6 md:px-4">
			<div class="grid items-end text-center">
				<div>
					<h2
						class="w-full mt-4 text-2xl font-semibold tracking-tight font-display"
					>
						{
							type === true
								? description
								: "anyone can find it easy and enjoyable to quit pornography, no matter who they are or how much they’re using. please enjoy :o)"
						}
					</h2>
				</div>
				<div class="flex justify-center gap-3 mt-6 flex-col">
					<a
						class="items-center justify-center max-w-xs mx-auto font-medium rounded-xl text-black focus-visible:outline-white focus:outline-none inline-flex bg-white border-2 duration-200 focus-visible:ring-black hover:bg-transparent lg:w-auto px-16 py-3 text-center w-full border-black"
						href="https://read.easypeasymethod.org/"
					>
						read the book
					</a>
					<a
						class="block text-blue-700"
						href="https://www.youtube.com/watch?v=ZktxO6adTnI "
						>(or, listen to the audiobook)</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
